
{% extends 'common.html' %}
{% load static %}
{% block common %}

    {% include 'mainmenu.html' %}

<table align="center" rowspan="10" width="1300" height="460" border="0" style="font-style: italic;font-size: 100px">
 <tr align="left">
        <th rowspan="9">
            <img src="{% static 'images/home2.png' %}" width="500">
        </th>
    </tr>
</table>

<table align="center"  border="0" width="50">
    <tr>
        <th>
            Copyrights.@BK
        </th>
    </tr>
</table>
{%  endblock %}